@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scroll */
  overflow-y: auto; /* Allows vertical scrolling */
  min-height: 100vh; /* Ensures the full height is used */
}
